<html>
  <head>
<script src="https://kit.fontawesome.com/a4d9622ed7.js"></script>
<meta charset="utf-8"/>


<title>Anasayfa</title>

  </head>
  <app-top-bar>
    
  </app-top-bar>
  <body>
    
     


<a href = "http://www.yazilimnet.com/tr/blog/20/yazilim-nedir-"><h1>Yazılım Nedir?</h1></a>
<ul class ="a">
<li><a href = "https://www.biltektasarim.com/blog/web-tasarim-nedir"><ol>Web Tasarımı Nedir?</ol></a></li>
<li><a href  ="https://www.biltektasarim.com/blog/veritabani-nedir-ne-ise-yarar"><ol>Veri Tabanı Nedir?</ol></a></li>
<div>

  <a href = "https://www.karel.com.tr/blog/programlama-dilleri-nedir-gelisimi-ve-tarihi" >Programlama Tarihi
  </a>
  
</div>
</ul>
  </body>
  
</html>